@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap')


@import 'bulma_overrides'
@import 'minireset_modified'

/* Import necessary Bulma components
    This will need to be trimmed at the end of the project to minimise size of file */
@import "../../../node_modules/bulma/sass/utilities/_all"
@import "../../../node_modules/bulma/sass/base/generic"
@import "../../../node_modules/bulma/sass/base/helpers"
@import "../../../node_modules/bulma/sass/elements/_all"
@import "../../../node_modules/bulma/sass/form/_all"
@import "../../../node_modules/bulma/sass/components/_all"
@import "../../../node_modules/bulma/sass/grid/_all"
@import "../../../node_modules/bulma/sass/layout/_all"



body
    background-color: #181e26

.main-nav
    background-color: $black-bis
    color: $white
    font-family: 'Special Elite', cursive
    text-transform: uppercase   

    .navbar-item
        color: $white
        padding-left: 1em
        padding-right: 1em
        font-size: 1.25em

        &:hover 
            background-color: $black-ter
            color: $white
    
#content
    background-color: $black-bis
    color: $broken-white

    .pagecontent
        padding: 1em

        p
            text-align: justify
            padding-top: 0.5em
            padding-bottom: 0.5em

        .centered-image
            text-align: center

.columns
    .column
        background-color: $black-bis
        text-align: center
        color: $white
        
        a
            color: $white
        
        .icon
            font-size: 1.25em

            &:hover
                color: red

nav
    padding-left: 1em
    padding-right: 1em

#comic-container
    line-height: 0

#comic-nav-wrapper
    line-height: 1.75

#comic-image
    object-fit: scale-down
    margin-left: auto
    margin-right: auto
    display: block

.container
    max-width: 940px !important

picture
    justify-content: center

#comic-prev
    float: left
    position: absolute
    left: 0px
    top: 0px
    z-index: 1000
    width: 50%
    height: 100%

#comic-next
    float: right
    position: absolute
    right: 0px
    top: 0px
    z-index: 1000
    width: 50%
    height: 100%

#comic-image-container
    position: relative

.mobile-navigation
    position: fixed
    bottom: 0px
    left: 0px
    width: 100vw
    z-index: 1001
    max-height: 10em

.fas
    font-size: 2em

.navbar-menu.is-active
    background-color: #121212
    @media screen and (max-width: 1023px)
        background-color: #121212 !important