/* Title font*/
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

/* Heading font */ 
@import url('https://fonts.googleapis.com/css?family=Trykker&display=swap');

/* Paragraph font */
@import url('https://fonts.googleapis.com/css?family=Lustria&display=swap');