<div class="columns is-marginless is-mobile is-paddingless navigation is-multiline">

    <div class="column is-one-quarter">

        {% if isLegacy %}
            <a href="{{collections.legacy[0].url | replace('index.html', '')}}">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-angle-double-left"></i>
                </span>
            </a>
        {% else %}
            <a href="{{collections.comic[0].url | replace('index.html', '')}}">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-angle-double-left"></i>
                </span>
            </a>
        {% endif %}

        <br>
        <span>Oldest</span>
    </div>

    <div class="column is-one-quarter prev-comic">
        {% if previous_comic %}
            <a id='prev-comic-button' href="{{ previous_comic | replace('index.html', '') }}">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-angle-left"></i>
                </span>
            </a>
        {% else %}
            <span class="icon is-large">
                <i class="fas fa-2x fa-angle-left"></i>
            </span>
        {% endif %}
        <br>
        <span>Previous</span>
    </div>

    <div class="column is-one-quarter next-comic">
        {% if next_comic %}
            <a id='next-comic-button' href="{{ next_comic | replace('index.html', '') }}">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-angle-right"></i>
                </span>
            </a>
        {% else %}
            <span class="icon is-large">
                <i class="fas fa-2x fa-angle-right"></i>
            </span>
        {% endif %}
        <br>
        <span>Next</span>
    </div>

    <div class="column is-one-quarter">
        {% if isLegacy %}
            {% set reversed = collections.legacy | reverse %}
        {% else %}
            {% set reversed = collections.comic | reverse %}
        {% endif %}
        <a href="{{reversed[0].url | replace('index.html', '')}} ">
            <span class="icon is-large">
                <i class="fas fa-2x fa-angle-double-right"></i>
            </span>
        </a>
        <br>
        <span>Newest</span>
    </div>

    {# Chapter selector #}
    <div class="column">
        <select onChange="window.location.href=this.value" class="comic-select" id="chapter-select">
            <option value="/" selected="selected">Update</option>
            {% if isLegacy %}
                {% for update in comics.legacy %}
                    <option value="/comic/legacy/{{ update.chapter | truncate(2, true, '') }}/000">{{ update.chapter | truncate(2, true, '') }}</option>
                {% endfor %}
            {% else %}
                {% for update in comics.current %}
                    <option value="/comic/{{ update.chapter | truncate(2, true, '') }}/000">{{ update.chapter | truncate(2, true, '') }}</option>
                {% endfor %}
            {% endif %} 
        </select>
    </div>

    {# Page selector #}
    <div class="column">
        <select onChange="window.location.href=this.value" class="comic-select" id="comic-select">
        <option value="/" selected="selected">Page</option>
            {% if isLegacy %}
                {% for comic in collections.legacy %}
                    <option value="{{comic.data.permalink | replace('index.html', '') }}">{{ loop.index0}}</option>
                {% endfor %}
            {% else %}
                {% for comic in collections.comic %}
                    <option value="{{comic.data.permalink | replace('index.html', '') }}">{{ loop.index0 }}</option>
                {% endfor %}
            {% endif %} 
        </select>
    </div>

    {# Latest update button #}
    <div class="column">
        {% if isLegacy %}
            {% for update in comics.legacy %}
                {% if loop.last %}
                    <a href="/comic/legacy/{{ update.chapter | truncate(2, true, '') }}/000">Latest update</a>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for update in comics.current %}
                {% if loop.last %}
                    <a href="/comic/{{ update.chapter | truncate(2, true, '') }}/000">Latest update</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>