<div id="comic-image-container" {% if next_comic %} data-next="{{ next_comic | replace('index.html', '') }}" data-next-strip="{{next_comic_strip}}" {% endif %}>
    <div class="is-paddingless">

            <picture>
                <source id="comic-image-webp" type="image/webp"
                    srcset="{{comic_strip | replace(' ', '%20') | replace('.png','.webp') | replace( r/(\/\d{3})\.webp/, r/webp$1.webp/) | replace('.webp/', '.webp')}}" >
                <img id='comic-image' class="comic" src="{{comic_strip}}">
            </picture>                
            
            <div id="comic-prev"></div>
            <div id="comic-next"></div>
    </div>
</div>
