<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4431b559d6.js"></script>
  {% set css %}    
    {% include "assets/css/bulma.css" %}
    {% include "assets/css/nprogress.css" %}      
  {% endset %}
  {% if config.environment == "production" %}
    <style>{{ css | cssmin | safe }}</style>
  {% else %}
    <style>{{ css | safe }}</style>
  {% endif %}
  {% set js %}
    {% include "assets/js/inline.js" %}
    {% include "assets/js/nprogress.js" %}
  {% endset %}
  {% if config.environment == "production" %}
    <script type="text/javascript">{{ js | jsmin | safe }}</script>
  {% else %}
    <script type="text/javascript">{{ js | safe }}</script>
  {% endif %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3643734109367168",
      enable_page_level_ads: true
    });
  </script>
</head>