<div class="section is-paddingless">
    <div class="container">
        <div class="ad">
            <figure class="image">
                <a href="https://www.patreon.com/countdown">
                    <img src="\static\img\patreon_banner.jpg">
                </a>
            </figure>
        </div>
    </div>
</div>