<nav class="navbar main-nav" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
            
        {% if config.environment == 'production' %}
            <a class="navbar-item" href="{{ config.site_url_prod }}">
        {% else %}
            <a class="navbar-item" href="{{ config.site_url_dev}}">
        {% endif %}            
        
            <img src="/static/img/header/cropped/slice1@0.25x.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% for page in collections.pages %}
                {% if page.data.nav %}
                    <a class="navbar-item" href="{{page.url}}">
                        {%if page.data.navtitle %}
                            {{ page.data.navtitle }}
                        {% else %}
                            {{ page.data.title }}
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="navbar-end"></div>
</div>
</nav>