<section class="blogListing">
    {% for post in postslist | reverse %}
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    <img src="https://bulma.io/images/placeholders/256x256.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h3 class="blogListingTitle">
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                    </h3>
                    {% if post.data.summary %}
                        <p class="blogListingSummary">
                            {{ post.data.summary }}
                        </p>
                    {% endif %}
                    <span class="blogListingDate">
                        <time datetime="{{ post.date | machineDate }}">
                            <small>{{ post.date | readableDate }}</small>
                        </time>
                    </span>
                    {% if post.data.tags %}
                        <span class="blogListingTagContainer">
                            {% for tag in post.data.tags %}
                                {%- if tag != "post" -%}
                                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                                    <a class="blogListingTag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                                {%- endif -%}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
</section>