---
permalink: feed.xml
layout: layouts/feed.njk
metadata:
  title: Countdown to Countdown
  url: https://ctccomic.com/
  author:
    name: Velinxi
    email: velinxi@gmail.com
  feed:
    subtitle: Updates every Wednesday with 1-3 pages.
    filename: feed.xml
    path: feed/feed.xml
    url: https://ctccomic.com/feed.xml
    id: https://ctccomic.com/
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.comic | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.comic | reverse %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><img src="{{ post.data.comic_strip | htmlToAbsoluteUrls(absolutePostUrl) }}"></img></content>
    </entry>
  {%- endfor %}
</feed>