<!doctype html>

<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

    {% include "components/head.njk" %}

    <body>
        
        {# Nav section #}
        <div id="nav-section" class="section is-paddingless is-marginless is-vcentered">
            <div class="container">
                {% if nav %}
                    {% include "components/nav.njk" %}
                {% endif %}
            </div>
        </div>

        {# Content section #}
        <div id="content-section" class="section is-paddingless is-marginless">
            <div class="container">
                <div id="content">
                    {{ layoutContent | safe }}
                </div> 
            </div>
        </div>

            {# Footer section #}
        <div id="footer-section" class="section is-paddingless is-marginless">
            <div class="container">
                {% if footer %}
                    {% include "components/footer.njk" %}
                {% endif %}
            </div>
        </div>  

        {# {% include "components/navbar_bottom.njk" % #}

        <script type="text/javascript">    

            var next_page = null
            
            if(window.Worker)
            {
                var preload_worker = new Worker('/_includes/assets/js/worker_preload.js');            

                preload_worker.postMessage({msg:'preload', data:{url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + jQuery('#next-comic-button').attr('href')}})

                preload_worker.onmessage = function(e)
                {
                    console.log("Worker: Next page is ready to load")
                    next_page = jQuery.parseHTML(e.data.data);
                    
                    console.log("Preloading next comic image immediately " + jQuery(next_page).find('#comic-image-webp').attr('srcset'))
                    preloadImage(jQuery(next_page).find('#comic-image-webp').attr('srcset'))
                }
            }

            jQuery(document).ready(function ()
            {

                var keyReset = true

                NProgress.configure({ showSpinner: false, parent: '#content', showSpinner: false });                
                
                bindLinks()
                
                if(!window.Worker)
                {                
                    preloadNextComicStrip()               
                }

                window.addEventListener('keyup', function(event)
                {
                    keyReset = true
                });
                
                window.addEventListener('keydown', function(event)
                {
                    console.log(event.code)
                    if (event.code == 'ArrowLeft' && keyReset) {
                       keyReset = false
                       event.preventDefault()
                       jQuery('#prev-comic-button')[0].click()
                    }
                    else if (event.code == 'ArrowRight' && keyReset)
                    {
                        keyReset = false
                        event.preventDefault()
                        jQuery('#next-comic-button')[0].click()
                    }
                });
            })
            
            function preloadImage(url)
            {
                var img=new Image();
                img.src=url;
            }

            function updatePage(data)
            {                
                jQuery('title').html(jQuery(data).filter('title').text())
                jQuery('#comic-image').attr('src', jQuery(data).find('#comic-image').attr('src'))
                jQuery('#comic-image-webp').attr('srcset', jQuery(data).find('#comic-image-webp').attr('srcset'))
                jQuery('#comic-nav-wrapper').html(jQuery(data).find('#comic-nav-wrapper').html())
                jQuery('#comic-image-container').attr('data-next-strip', jQuery(data).find('#comic-image-container').attr('data-next-strip'))
                
                if(window.Worker)
                    preload_worker.postMessage({msg:'preload', data:{url: window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + jQuery('#next-comic-button').attr('href')}})

                bindLinks()
                document.body.scrollTop = document.documentElement.scrollTop = 0;
                NProgress.done();
            }

            function preloadNextComicStrip()
            {
                let next_strip_image = $('#comic-image-container').attr('data-next-strip')
                if(next_strip_image)
                {
                    preloadImage(next_strip_image)
                }                 
            }

            jQuery('#comic-next').on('click', function(e)
            {
                jQuery('#next-comic-button')[0].click()
            });

            jQuery('#comic-prev').on('click', function(e)
            {
                jQuery('#prev-comic-button')[0].click()
            });

            jQuery(window).on("popstate", function (e) {
                
                // Reset all values to previous state
                jQuery('title').html(e.originalEvent.state.title)
                jQuery('#comic-image').attr('src', e.originalEvent.state.image)      
                jQuery('#comic-nav-wrapper').html(e.originalEvent.state.nav)
                jQuery('#comic-image-container').attr('data-next-strip', e.originalEvent.state.preload)
                jQuery('#comic-image-webp').attr('srcset', e.originalEvent.state.webp)     

                bindLinks()
                preloadNextComicStrip()
                // TODO SCROLL TO TOP OF WEBPAGE
            })

            function bindLinks() {

                //Detach all listeners to prevent memory overflow
                jQuery("a[href^='/comic']").off()
                
                //Bind to every link that leads to a comic
                jQuery("a[href^='/comic']").on('click', function (e) {

                    // Stop link from activating
                    e.preventDefault()

                    //Start progress bar
                    NProgress.start();
                    
                    // Get the URL to load
                    url = jQuery(this).attr('href')

                    // If the worker has already preloaded the next page and we're going to the next page
                    // just replace the value from cache
                    if(window.Workers && next_page && e.target.id === "next-comic-button")
                    {
                        updatePage(next_page)
                    }

                    //If the preload either hasn't finished yet or there are just no workers that could complete it on a different thread
                    else
                    {
                        // Send a Get request to the URL
                        jQuery.get(url, function (data)
                        {
                            updatePage(data)
                        })
                    }

                    // Push a new state to the browser
                    history.pushState({
                        'title': jQuery('title').html(),
                        'image': jQuery('#comic-image').attr('src'),
                        'nav': jQuery('#comic-nav-wrapper').html(),
                        'preload' : jQuery('#comic-image-container').attr('data-next-strip'),
                        'webp': jQuery('#comic-image-webp').attr('srcset')
                    }, jQuery('title').html(), url)
                  
                    bindLinks()                    
                })
            }
        </script>
    </body>
</html>