---
layout: layouts/base.njk
footer: false
nav: true
---

<div id="comic-container">

    {% include "components/comic_image.njk" %}

    <div id="comic-nav-wrapper">
        {% include "components/comic_nav.njk" %}
    </div>
</div>

 {% include "components/horizontal_ad.njk" %}